@font-face {
    font-family: segoe-bold;
    src: url('/fonts/segoeui-bold.ttf');
}
@font-face {
    font-family: segoe-light;
    src: url('/fonts/segoeui-light.ttf');
}
@font-face {
    font-family: segoe-semibold;
    src: url('/fonts/segui-semi-bold.ttf');
}
@font-face {
    font-family: segoe-italic;
    src: url('/fonts/segui-light-italic.ttf');
}

body {
    background-color: #F3F3F3;
}